.search-div .search-label {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  pointer-events: none;
  margin: 3px;
}

.search-div .search-input {
  font-size: 24px;
  border-radius: 10px;
  width: 80%;
  align-self: center;
  margin: 3px;
  text-align: center;
  border-width: 0;
}

.search-div .search-button {
  align-self: center;
  width: 30%;
  cursor: pointer;
  margin: 3px;
  font-size: 20px;
}

