.weather-div .weather-image-div {
  width: 100px;
  height: 100px;
}

.weather-div label {
  background: var(--coral);
  color: white;
  font-family: "Noto Sans Gothic", sans-serif;
  margin: 6rem;
  font-size: 24px;
}

.weather-div div {
  width: 100%;
}